<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notebook Dell Inspiron 3505</title>
    <link href="producto.css" rel="stylesheet">
    <script src="script.js" defer></script>
    <script src="https://unpkg.com/vue@3.3.2/dist/vue.global.js"></script>
</head>
<body>
<div id="grid-layout">
    <div id="cabecera">
        <h1 id="titulo-producto">{{ title }}</h1>
    </div>
    <div id="imagen-producto">
        <img :src="image_url" id="imagen">
    </div>

    <div id="descripcion">
        <img v-for="imagen in imagenes" class="imagen-miniatura" :src="imagen" @mouseover="cambiarImagen(imagen)">

        <p>Cantidad comprados: {{cantidadComprados}}</p>

        <p>Precio: $ {{ notebooksTypes[notebookSeleccionada].price }}</p>

        <p id="texto-descripcion">{{ description }}</p>

        <h2>Características</h2>
        <ul>
            <li v-for="(notebookType, indice) in notebooksTypes" :key="indice">
                <button @click="seleccionarTipoComputadora(indice)">RAM: {{ notebookType.ramAmount }}</button>
            </li>
        </ul>

        <button @click="clickBotonCompra()">Comprar</button>
    </div>

    <a :href="factory_url" id="link-fabricante" target="_blank"
       rel="noopener noreferrer">Link sitio web fabricante</a>

    <div id="comentarios">
        <h2>Comentarios</h2>
        <div id="listado-comentarios">

        </div>

        <h2>¡Deja tu comentario!</h2>
        <form>
            <label>Comentario: <textarea id="texto-comentario" name="comentario"></textarea></label>

            <label>
                Calificación:
                <select id="puntaje-feedback">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </label>

            <input id="boton-enviar-comentario" type="submit" value="Enviar">
        </form>
    </div>

</div>
</body>
</html>
