<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notebook Dell Inspiron 3505</title>
    <link href="producto.css" rel="stylesheet">
    <script src="https://unpkg.com/vue@3.3.2/dist/vue.global.js"></script>
</head>
<body>
<div id="grid-layout">
    <div id="cabecera">
        <h1 id="titulo-producto">{{ title }}</h1>
    </div>
    <div id="imagen-producto">
        <img :src="image_url" id="imagen">
    </div>

    <div id="descripcion">
        <img v-for="imagen in imagenes" class="imagen-miniatura" :src="imagen" @mouseover="cambiarImagen(imagen)">

        <h2>Precio: $ {{ notebooksTypes[notebookSeleccionada].price }}</h2>

        <p>Carro de compras</p>
        <ul>
            <li v-for="(notebookComprada, indice) in notebooksCompradas" :key="indice">
                {{ notebookComprada.ramAmount }}: $ {{ notebookComprada.price }}
                <button @click="eliminarCompra(indice)">Eliminar</button>
            </li>
        </ul>
        <p>Total: {{ total }}</p>

        <informacion-notebook
                :notebooks-types="notebooksTypes"
                @computadora-comprada="computadoraComprada"
                @notebook-seleccionada="manejarNotebookSeleccionada"
        >
        </informacion-notebook>
    </div>

    <a :href="factory_url" id="link-fabricante" target="_blank"
       rel="noopener noreferrer">Link sitio web fabricante</a>

    <formulario-evaluacion></formulario-evaluacion>
</div>

<script src="producto.js"></script>
<script src="components/informacionNotebook.js"></script>
<script src="components/formularioEvaluacion.js"></script>
<script>app.mount('#grid-layout')</script>
</body>
</html>
